{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_platform/criarSkills.css' %}"/>

{% endblock style %}


{% block main %}

<h2 class="title2">Criar Skill</h2>
<div class="main_skills">
    <form method = "post" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <input type="submit" value="Gravar" class="btn btn-success">
    </form>
    
    <div class="skill_table"> 
        <h2 class="title">Lista de Skills</h2>
        <table class="outer_table">
            <thead>
                <tr class="outer_table_head">
                    <th class="outer_column1">Skill</th>
                    <th class="outer_column2"></th>
                </tr>
            </thead>
            {% for skill in skills %}
                <tr class="row">            
                    <td class="outer_column1">{{ skill }}</td>
                    <td class="outer_column2">
                        <button class="btChange">
                            <a href="{% url 'criarSkills_delete' skill.id %}"><i class="fa-solid fa-xmark fa-xl" style="color: black"></i></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>




{% endblock %}