{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_platform/gerirCargosTeams.css' %}"/>

{% endblock style %}


{% block main %}

<div class="Nosplit">

    <div class="centered">  

        <div class="TeamTasks">

            {% for team in allTeamNames %}

                <div>

                    <p>teamName: {{ team.name }}</p>
                    <p>teamLider: {{ team.idTeamLider.idUser.username }}</p>
                    
                    <form action="{% url 'gerirCargosTeams' %}" method="POST">
                        {% csrf_token %}

                        <label for="teamLider">TeamLider:</label>
                        <select name="teamLider" onchange="this.form.submit();">

                            {% if team.idTeamLider %}

                                <option value="{{ team.idTeamLider.id }}" selected>{{ team.idTeamLider.idUser.username }}</option>

                            {% else %}

                                <option value="" selected disabled>Selecione um teamLider</option>

                            {% endif %}

                            {% for user in allUsersNames %}
                               
                                {% if user.idTeam == team and user != team.idTeamLider %}
                                    
                                    <option value="{{ team.id }}-{{ user.id }}">{{ user }}</option>

                                {% endif %}

                            {% endfor %}

                        </select>
                    </form>
                    
                </div>

            {% endfor %}



        </div>

    </div>

</div>



{% endblock %}