{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_platform/gerirCargos.css' %}"/>

{% endblock style %}


{% block main %}

<div class="Nosplit">

    <div class="centered">  

        <div class="TeamTasks">

            {% for user in allUsersNames %}

                <div>
                    <p>Nome do funcionario: {{ user.idUser.username }}</p>

                    <form action="{% url 'gerirCargos' %}" method="POST">

                        {% csrf_token %}

                        <label for="equipa">Equipa:</label>
                        <select name="equipa" onchange="this.form.submit();">

                            <option value="" selected disabled>{{ team.name }}</option>

                            {% for team in allTeamNames %}

                                {% if team.id != user.idTeam.id %}

                                    <option value="{{ team.id }}-{{ user.id }}">{{ team.name }}</option>

                                {% endif %}

                            {% endfor %}

                        </select>
                        
                    </form>

                
                    <p>Equipa: {{ user.idTeam }}</p>

                    <p>Cargo: {{ user.idGroupUser.name }}</p>
    
                </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}