{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_platform/gerirEquipaProcesso.css' %}"/>

{% endblock style %}


{% block main %}
<h2 class="title">Utilizadores da Plataforma</h2>
<div class="process_table"> 
    <table class="outer_table">
        <thead>
            <tr class="outer_table_head">
                <th class="outer_column1">Processo</th>
                <th class="outer_column2">Descrição</th>
                <th class="outer_column3">Equipa Atribuida</th>
            </tr>
        </thead>
        {% for processoConfiguracao in allProcessConfigurationNames %}
            <tr class="row">            
                <td class="outer_column1">{{ processoConfiguracao.name }}</td>
                <td class="outer_column2">
                    {{ processoConfiguracao.description }}
                </td>
                <td class="outer_column3">
                    <form action="{% url 'gerirEquipaProcesso' %}" method="POST">
                        {% csrf_token %}
                        <select name="teamProcessConfiguration" onchange="this.form.submit();">

                            {% if processoConfiguracao.idTeam %}

                                <option value="{{ processoConfiguracao.idTeam.id }}" selected>{{ processoConfiguracao.idTeam.name }}</option>

                            {% else %}

                                <option value="" selected disabled>No Team</option>

                            {% endif %}

                            {% for team in allTeamNames %}
                                
                                {% if not processoConfiguracao.idTeam or team.id != processoConfiguracao.idTeam.id %}

                                    <option value="{{ team.id }}-{{ processoConfiguracao.id }}">{{ team }}</option>

                                {% endif %}

                            {% endfor %}

                        </select>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}