{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/overall_statistics/statics.css' %}"/>

{% endblock style %}


{% block main %}

<iframe src="http://localhost:5601/app/dashboards#/view/66c43d70-fa83-11ed-8d80-dbb602034ff4?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-15w%2Cto%3Anow))&show-time-filter=true" style="position: absolute; height: 91vh; width: 96vw; border: none"></iframe>

{% endblock %}