{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/overall_statistics/statics.css' %}"/>

{% endblock style %}


{% block main %}


<div class="Nosplit">
    

    <div class="centered">  

        <div class="TeamTasks">

            <center>
                <iframe src="http://localhost:5601/app/dashboards#/view/94aace80-f8e3-11ed-8c14-578d3c329bf1?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3A'2023-05-17T15%3A28%3A09.690Z'%2Cto%3A'2023-05-17T15%3A29%3A43.675Z'))"
                    height="600" width="800">
                </iframe>
            </center>

        </div>

    </div>

</div>

{% endblock %}