*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Secular One', sans-serif;
}

.background {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;    /* aligns vertically */
    justify-content: center;  /* aligns horizontally */
}

.loginBackground{
    width: 35rem;
    height: 100%;
    box-shadow: 5px 2px 3px 7px black;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 7px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.spanColorCGI{
    color: #e11937;
}

h4{
    font-size: 1.25em;
    font-weight: bold;
}

h3{
    font-size: 2em;
    color: #a72565;
    margin-top: 1em;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
}

form{
    width: 100%;
    display: grid;
    align-content: flex-start;    
    justify-content: flex-start;
    margin-left: 15%;
    margin-top: 1em;
}

.inputBox{
    width: 25em;
    height: 2.2em;
    margin-top: 1.05em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputTitle{
    font-size: 1em;
    font-weight: bolder;
}

.messageInvalidLogin{
    font-size: 1.25em;
    color: red;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 10px;
    text-align: center;
}

.btnSubmit{
    width: 50%;
    height: auto;
    margin-top: 20px;
    background-color: #5735a6;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: transform .7s;
    font-size: 15px;
}

.btnSubmit:hover{
    transform: scale(1.1);
}

.recuperarPassword{
    width: 100%;
    height: auto;
    color: black;
    margin-top: 1em;
}