{% extends 'layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/businessExceptions.css' %}"/>


{% endblock style %}



{% block main %}


<div class="split left">
   
    <div class="centered">
      
        <h2>Lista de tarefas da equipa X (Alterar)</h2>

        <li>  LISTAGEM
            <p>ITEM</p>
            <p>ITEM</p>
            <p>ITEM</p>
            <p>ITEM</p>
            <p>ITEM</p>
        </li>
       
        <a href="{% url 'process_monitor:correcaoDocumentos' %}">
            <input type="submit" value="Correção de documentos" class="btnSubmit">
        </a> 
        
    </div>
</div>

<div class="split right">

    <div class="centered">

        <h2>Estatisticas para Operacional</h2>

        <li>  Estatistica X
            <p>ITEM</p>
        </li>

        <a href="{% url 'process_monitor:reportarErrosNoSistema' %}">
            <input type="submit" value="Reportar erros no sistema" class="btnSubmit">
        </a> 
    </div>
</div>

{% endblock %}