{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/operational_platform/businessExceptions.css' %}"/>
{% endblock style %}

{% block main %}
<script type="text/javascript">
    function showHideRow(id) {
        var row = document.getElementById("hidden_row_" + id);
        row.classList.toggle('hidden_row')
    }
</script>
{% if chefeDeEquipa == username %}

{% if teamName == None %}
<h2 class="title">Não está atribuído a nenhuma equipa (Contacte um administrador)</h2>
{% endif %}

<h2 class="title">Lista de tarefas da {{teamName}} e Alteração de Skills</h2>
<br>
<div class="tables">
    <div class="process_table">  
        <table class="outer_table">
            <thead>
                <tr class="outer_table_head">
                    <th class="outer_column1">Processo</th>
                    <th class="outer_column2">Tipo</th>
                    <th class="outer_column3">Estado</th>
                </tr>
            </thead>
            {% for process in teamProcesses %}
                <tr class="row">            
                    <td class="outer_column1">Instância {{process.id}} de {{process.idConfiguration.name}}</td>
                    <td class="outer_column2">{{process.idConfiguration.idProcessType.name}}</td>
                    <td class="outer_column3">{{process.state}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="process_table">  
        <table class="outer_table">
            <thead>
                <tr class="outer_table_head">
                    <th class="skill_column1">Nome do User</th>
                    <th class="skill_column2">Skills</th>
                    <th class="skill_column3"></th>
                </tr>
            </thead>
            {% for user in nomeUsers %}
                <tr class="row">            
                    <td class="skill_column1">{{user.idUser.username}}</td>
                    <td class="skill_column2">{% for skill in user.idSkills.all %}
                        {% if user.idSkills.all|length == 1 %}    
                            {{skill}}   
                        {% else %}      
                            {% if forloop.last %}  
                                {{skill}} 
                            {% else %}
                                {{skill}},
                            {% endif %}
                        {% endif %}
                    {% endfor %}</td>
                    <td class="skill_column3"><a href="{% url 'changeSkills' user.id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


{%else%}

{% if teamName == None %}
    <h2 class="title">Não está atribuído a nenhuma equipa (Contacte um administrador)</h2>
{% else %}
    <h2 class="title">Plataforma Operativa</h2>

    <div class="user-stats">
        <div class="stat-card">
            <p class="card-title">{{teamName}}</p>
            <p class="counter">{{TeamProcessCount}}</p>
            <p>Processos a corrigir</p>
        </div>
        <div class="stat-card">
            <p class="card-title">{{username}}</p>
            <p class="counter">{{UserProcessCount}}</p>
            <p>Processos selecionados</p>
        </div>
        <div class="stat-card">
            <p class="card-title">{{username}}</p>
            <p class="counter">{{UserTaskCount}}</p>
            <p>Tarefas por corrigir</p>
        </div>
    </div>
{% endif %}

<div class="tables">
    <div class="process_table">  
        <h2 class="title">Lista de tarefas da {{teamName}}</h2>
        <table class="outer_table">
            <thead>
                <tr class="outer_table_head">
                    <th class="outer_column1">Processo</th>
                    <th class="outer_column2">Tipo</th>
                    <th class="outer_column3">Estado</th>
                    <th class="outer_column4"></th>
                </tr>
            </thead>
            {% for process in teamProcesses %}
                <tr class="row">            
                    <td class="outer_column1">Instância {{process.id}} de {{process.idConfiguration.name}}</td>
                    <td class="outer_column2">{{process.idConfiguration.idProcessType.name}}</td>
                    <td class="outer_column3">{{process.state}}</td>
                    <td>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button class="btChange" type="submit" name="addProcess" value="{{ process.id }}"><i class="fa-solid fa-arrow-right fa-lg"></i></button>
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="process_table">  
        <h2 class="title">Lista de tarefas do {{username}}</h2>
        <table class="outer_table">
            <thead>
                <tr class="outer_table_head">
                    <th class="outer_column1">Processo</th>
                    <th class="outer_column2">Tipo</th>
                    <th class="outer_column3">Estado</th>
                    <th class="outer_column4"></th>
                </tr>
            </thead>
            {% for userProcess in userProcesses %}
                <tr class="row" onclick="showHideRow('{{userProcess.id}}')">            
                    <td class="outer_column1">Instância {{userProcess.id}} de {{userProcess.idConfiguration.name}}</td>
                    <td class="outer_column2">{{userProcess.idConfiguration.idProcessType.name}}</td>
                    <td class="outer_column3">{{userProcess.state}}</td>
                    <td>
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% for key, value in dicTasks.items %}
                                {% if key == userProcess.id %}
                                    {% if value %}
                                        <button class="btChange" type="submit" name="removeProcess" value="{{ userProcess.id }}"><i class="fa-solid fa-xmark fa-lg"></i></button>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </form>
                    </td>  
                </tr>
                <tr id="hidden_row_{{userProcess.id}}" class="hidden_row h_row">
                    <td colspan="4" class="inner_table_row">
                        <table class="inner_table">
                            <thead>
                                <tr class="inner_table_head">
                                    <th class="inner_column1">Tarefa</th>
                                    <th class="inner_column2">Descrição</th>
                                </tr>
                            </thead>
                            {% for key, value in userTasks.items %}
                                {% if key == userProcess.id %}
                                    {% for task in value %} 
                                    <tr class="row">
                                        <td class="inner_column1">{{task.idTaskConfiguration.name}}</td>
                                        <td class="inner_column2">{{task.idTaskConfiguration.description}}</td>
                                        <td><a href="{% url 'correcaoDocumentos' task.id 0%}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{%endif%}
{% endblock %}