{% extends 'main/main.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/operational_platform/businessExceptions.css' %}"/>


{% endblock style %}



{% block main %}

{% include 'operational_platform/hamburguer.html' %}

<div class="split left">
   
    <div class="centered">


        {% if teamName == None %}
            <h2>Não está atribuído a nenhuma equipa (Contacte um administrador)</h2>
        {% else %}
            <h2>Lista de tarefas da {{teamName}}</h2>
        {% endif %}
        
        <div class="TeamTasks">

            {% for taskList in teamtasks %}
                <div>
                    <p>Processo da Tarefa: {{taskList.idProcess.configuration.name}}</p>

                    <p>Tipo de tarefa: {{taskList.idConfiguration.taskType}}</p>

                    <p>Prioridade: {{taskList.priority}}</p>
                </div>

            {% endfor %}

        </div>
        
    </div>
</div>

<div class="split right">

    <div class="centered">

        <h2>Estatisticas para Operacional</h2>
        <br><br>

        <div class="NumeroTarefasDisplay">
            <p>Número de tarefas:</p>
            <p>{{userTasksCount}}</p>
        </div>

        <br><br>

        <div class="TeamTasks">

            {% for usertasks in userTaskList %}
                <div>

                    <p>Processo da Tarefa: {{usertasks.idProcess.configuration.name}}</p>

                    <p>Tipo de tarefa: {{usertasks.idConfiguration.taskType}}</p>

                    <p>Prioridade: {{usertasks.priority}}</p>

                    <a href="{% url 'correcaoDocumentos' usertasks.id %}">Corrigir Tarefa</a>

                </div>

            {% endfor %}

        </div>

        <br><br>

    </div>
</div>

{% endblock %}