{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/operational_platform/businessExceptions.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock style %}


{% block main %}

{% include 'operational_platform/hamburguer.html' %}


{% if chefeDeEquipa == username %}

    <div class="split left">

        <div class="centered">

            {% if teamName == None %}
            <h2>Não está atribuído a nenhuma equipa (Contacte um administrador)</h2>
            {% else %}
            <h2>Lista de tarefas da {{teamName}}</h2>
            {% endif %}

            <br><br>


            <div class="TeamTasks">

                {% for process in teamProcesses %}
                <div>
                    <p>Nome do processo: {{process.idConfiguration.name}}</p>

                    <p>Tipo de processo: {{process.idConfiguration.idProcessType.name}}</p>

                    <p>Estado do processo: {{process.state}}</p>

                </div>

                {% endfor %}

            </div>


        </div>
    </div>

    <div class="split right">

        <div class="centered">

            <h2>Alterar SKILLS dos membros da equipa!</h2>
            <br><br>
            <div class="TeamTasks">
                {% for user in nomeUsers %}
                <div>
                    <p>Nome do utilizador: {{ user.idUser.username }}</p>

                    <p>Skills:
                        {% for skill in user.idSkills.all %}
                        
                            {% if user.idSkills.all|length == 1 %}

                                {{skill}}

                            {% else %}    

                                {% if forloop.last %}

                                    {{skill}}

                                {% else %}

                                    {{skill}},

                                {% endif %}

                            {% endif %}

                        {% endfor %}
                    </p>

                    <a href="{% url 'changeSkills' user.id %}">Alterar Skills</a>

                </div>
                {% endfor %}
            </div>

            <br><br>

            <div class="TeamTasks">

                {% for usertasks in userTaskList %}
                <div>

                    <p>Processo da Tarefa: {{usertasks.idProcess.configuration.name}}</p>

                    <p>Tipo de tarefa: {{usertasks.idConfiguration.taskType}}</p>

                    <p>Prioridade: {{usertasks.priority}}</p>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" name="removeTask" value="{{ usertasks.id }}">Clique aqui</button>
                    </form>

                    <a href="{% url 'correcaoDocumentos' usertasks.id %}">Corrigir Tarefa</a>

                </div>

                {% endfor %}

            </div>

            <br><br>

        </div>
    </div>

{%else%}

    <div class="split left">

        <div class="centered">

            {% if teamName == None %}
                <h2>Não está atribuído a nenhuma equipa (Contacte um administrador)</h2>
            {% else %}
                <h2>Lista de tarefas da {{teamName}}</h2>
                <br>
                <p>Processos não corrigidos ➜ {{TeamProcessCount}}</p>
            {% endif %}

            <br><br>
            
            <div class="TeamTasks">

                {% for process in teamProcesses %}
                    <div>
                        <p>Nome do processo: {{process.idConfiguration.name}}</p>

                        <p>Tipo de processo: {{process.idConfiguration.idProcessType.name}}</p>

                        <p>Estado do processo: {{process.state}}</p>

                        <form method="POST" action="">
                            {% csrf_token %}
                            <button type="submit" name="addProcess" value="{{ process.id }}">PICK PROCESS</button>
                        </form>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

    <div class="split right">

        <div class="centered">

            <div class="TeamTasks">

                <p>Processos selecionados ➜ {{UserProcessCount}}</p>
                <p>Tarefas a corrigir pelo Utilizador ➜ {{UserTaskCount}}</p>

                <br>

                {% for userProcess in userProcesses %}
                
                <div>

                    <p>Nome do processo: {{userProcess.idConfiguration.name}}</p>

                    <br>

                    <p>Tipo de processo: {{userProcess.idConfiguration.idProcessType.name}}</p>

                    <br>

                    <p>Estado do processo: {{userProcess.state}}</p>
                    {{ userProcess.id }}
                    <br>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" name="removeProcess" value="{{ userProcess.id }}">REMOVER PROCESSO</button>
                    </form>
                    <p>----------------------------------------------------</p>
                    <br>

                    <details>

                        <summary>Tarefas do Processo:</summary>
                        
                        <br>

                        

                        {% for key, value in userTasks.items %}
                            
                            {% if key == userProcess.id %}
                                
                                {% for task in value %} 

                                    <p>Nome da tarefa: {{task.idTaskConfiguration.name}}</p>
                                    
                                    <a href="{% url 'correcaoDocumentos' task.id %}">Corrigir Tarefa</a>

                                    <br>

                                    <details>
                                        <summary>Descrição da Tarefa:</summary>

                                        <p>Descrição da tarefa: {{task.idTaskConfiguration.description}}</p>

                                    </details>
                                    <p>----------------------------------------------------</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    </details>

                </div>

            {% endfor %}

            </div>

            <br><br>

        </div>

    </div>

{%endif%}

{% endblock %}