{% extends 'main/main.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/operational_platform/correcaoDocumentos.css' %}"/>


{% endblock style %}


{% block main %}
{% include 'main/side_drawer.html' %}

{%if 0 == numberTasks %}
{%elif currentPosition == numberTasks%}
    <a class="btn-back" href="{% url 'correcaoDocumentos' teamtasks.id currentPosition|add:'-1'%}"><i class="fa-solid fa-arrow-left fa-lg"></i> Tarefa Anterior</a>
    <a class="btn-next" href="{% url 'correcaoDocumentos' teamtasks.id 0%}">Tarefa Seguinte <i class="fa-solid fa-arrow-right fa-lg"></i></a> 
{%elif currentPosition == 0%}
    <a class="btn-back" href="{% url 'correcaoDocumentos' teamtasks.id numberTasks%}"><i class="fa-solid fa-arrow-left fa-lg"></i> Tarefa Anterior</a>
    <a class="btn-next" href="{% url 'correcaoDocumentos' teamtasks.id 1%}">Tarefa Seguinte <i class="fa-solid fa-arrow-right fa-lg"></i></a>
{%else %}
    <a class="btn-back" href="{% url 'correcaoDocumentos' teamtasks.id currentPosition|add:'-1'%}"><i class="fa-solid fa-arrow-left fa-lg"></i> Tarefa Anterior</a>
    <a class="btn-next" href="{% url 'correcaoDocumentos' teamtasks.id currentPosition|add:'1'%}">Tarefa Seguinte <i class="fa-solid fa-arrow-right fa-lg"></i></a>
{%endif%}

<h2 class="title">Documento a ser corrigido</h2>

<div class="documento">
    <iframe src="{{ file }}#toolbar=0" style="width:100%; height:100%;" frameborder="0"></iframe>
</div>


<h2 class="title">Correção do erro</h2>
<h3 class="description">Descrição: {{teamtasks.idTaskConfiguration.description}}</h3>

<form method="POST" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        {{ form.as_p }}
    </div>

    <button class="btn-cancel">
        <a href="{% url 'businessExceptions' %}" role="button">Cancelar</a>
    </button>
    
    <input type="submit" value="Gravar" class="btn btn-success">
</form>

{% endblock %}