{% extends 'main/main.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/operational_platform/reportarErrosNoSistema.css' %}"/>


{% endblock style %}


{% block main %}
{% include 'main/side_drawer.html' %}
   
<div class="centered">
    <h2 class="title">Reporte um Erro</h2>
    
    <form method = "post" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <input type="submit" value="Gravar" class="btn btn-success">
    </form>
</div>
{% endblock %}