.menu-body {
  position:sticky;
}

.menu-icon {
  position:absolute;
  left:0;
  top:0;
  margin-top: 1.5vh;
  color:#999;
}

.main-menu {
  display: flex;
  background:#212121;
  position:absolute;
  align-items: baseline;
  padding-top: 8.5vh;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
  -webkit-transform: translateZ(0) scale(1,1);
  z-index: 2000;
}

.main-menu:hover {
  width:250px;
}

li>a {
  text-decoration: none;
  color:#999;
  font-size: 14px;
}

.main-menu li {
  width:250px;
  border-collapse:collapse;
  border-spacing:0;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}

.nav-text {
  display:table-cell;
  vertical-align:middle;
  width:190px;
}

ul, li {
  margin:0;
  padding:0;
}

.main-menu li:hover {
  color:#fff;
  background-color:#000000;
}

.shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1999;
}

.main-menu:hover + .shadow {
  display: block;
}