.title {
  margin: 2rem 0 2rem 2rem;
  font-weight: 500;
}

.main_admin {
  display: flex;
  flex-direction: row;
}

.process_table {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding:33px 30px;
  overflow: hidden;
  margin-top: -1.5rem;
}

.outer_table {
  border-spacing:1;
  border-collapse:collapse;
  background:#fff;
  border-radius:5px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
  box-shadow:  rgba(0, 0, 0, 0.08) 0px 0.9px 4px, rgba(0, 0, 0, 0.06) 0px 2.6px 8px, rgba(0, 0, 0, 0.05) 0px 5.7px 12px, rgba(0, 0, 0, 0.04) 0px 15px 15px;
}

.outer_table_head {
  background-color: var(--black);
}

.outer_table_head th {
  font-size: var(--font_size_secondary);
  font-weight: 500;
  color:white;
}

.outer_column1 {
  width:10vw;
  text-align: left;
  padding:0.75rem;
  padding-left:1vw;
}

.outer_column2 {
  width:45vw;
  text-align: left;
}

.outer_column3 {
  width:15vw;
  text-align: right;
  padding-right:1vw;
}

select {
  padding-right: 2rem;
}