{% load main_tags %}

{% get_reportingCount as numberReporting %}
{% get_reportingData as DataReporting %}

<!DOCTYPE html>

<script src="https://kit.fontawesome.com/9e27ddefee.js" crossorigin="anonymous"></script>

<script>
  function toggleNotificationDropdown() {
  const dropdown = document.querySelector('.notification-dropdown');
  dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
}
</script>

{% include 'main/side_drawer.html' %}

<html lang="en">

  <head>
      <meta charset="UTF-8">

      <title>Process Monitor</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

      {% load static %}
      <link rel="stylesheet" href="{% static 'css/main/main.css' %}">

      {% block style %}

      {% endblock style %}

  </head>
  
  <body>
    <header>
      <img class="logo" src="{% static 'images/logo.png' %}">
      <nav>  
        <a class="nav_item" href="{% url 'reportarErrosNoSistema' %}">Reportar</a>
        <a class="nav_item">Contactos</a>

        <!-- Sino de notificações -->
        <div class="notification-bar">

          <button class="notification-icon" onclick="toggleNotificationDropdown()">
            <i class="fas fa-bell fa-xl"></i>
            <span class="notification-count">{{ numberReporting }}</span>
          </button>

          <div class="notification-dropdown">

            <ul class="notification-list scrollable">

              <li class="notification-item">

                {% for notificacao in DataReporting %}

                  {% if forloop.first %}
                    <hr> 
                  {% endif %}

                  <label class="notification-label">
                    <span class="ReportingSpan"><b><u>User:</u></b></span>
                  </label>
                  <span class="notification-message">{{ notificacao.idUser }}</span>

                  <label class="notification-label">
                    <span class="ReportingSpan"><u><b>Description:</u></b></span>
                  </label>
                  <span class="notification-message">{{ notificacao.description }}</span>

                  <label class="notification-label">
                    <span class="ReportingSpan"><b><u>File:</u></b></span>
                  </label>

                  {% if notificacao.file_name %}

                    <span class="notification-message">{{ notificacao.file_name }}</span>

                  {% else %}

                    <span class="notification-message">No File</span>

                  {% endif %}

                  <hr> 

                {% endfor %}

              </li>

            </ul>
            
          </div>
          
        </div>
        
        
        <div class="dropdown-profile">
          <div class="dropdown-button">
            {{request.user.username}}
            <img src="{% static 'images/profile_placeholder.svg' %}">
          </div>
          <div class="dropdown-content">
            <a href="{% url 'logout' %}" class="btnLogout"><p>Logout</p></a>
          </div>
        </div>
      </nav>
    </header>
    <div class="bar"></div>
    <main>
      {% block main %}
      {% endblock main %}
    </main>    
  </body>    
</html>