<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">

      <title>Process Monitor</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

      {% load static %}
      <link rel="stylesheet" href="{% static 'css/main/main.css' %}">

      {% block style %}

      {% endblock style %}
  </head>

  <body>
    {% include 'main/side_drawer.html' %}
    <header>
      <img class="logo" src="{% static 'images/logo.png' %}">
      <nav>
        <a href="{% url 'adminPage' %}">Administrativo</a>      
        <a href="">Painel Estatistico</a>
        <a href="{% url 'process_listing' %}">Processos de Negócio</a>      
        <a href="{% url 'businessExceptions' %}">Operational Platform</a>
        <div class="dropdown-profile">
          <div class="dropdown-button">
            {{request.user.username}}
            <img src="{% static 'images/profile_placeholder.svg' %}">
          </div>
          <div class="dropdown-content">
            <a href="{% url 'logout' %}" class="btnLogout">Logout</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="bar"></div>
    <main>
      {% block main %}
      {% endblock main %}
    </main>    
  </body>    
</html>