{% load static %}
<link rel="stylesheet" href="{% static 'css/main/side_drawer.css' %}" />
<link rel="stylesheet" href="{% static 'css/main/main.css' %}" />

<body class="menu-body">
    <nav class="main-menu">
        <div class="menu-icon">
            <i class="menu-icon fa fa-bars fa-2x"></i>
        </div>
        <ul>
          <li class="admin_icon">
            <a href="{% url 'adminPage' %}">
              <i class="fa fa-toolbox fa-2x"></i>
              <span class="nav-text"> Administrativo </span>
            </a>
            <ul>
              <li class="hidden_admin_icons">
                <a href="{% url 'gerirCargosUsers' %}">
                  <i class="fa fa-user fa-2x"></i>
                  <span class="nav-text"> Cargos de Utilizadores </span>
                </a>
              </li>
              <li class="hidden_admin_icons">
                <a href="{% url 'criarTeams' %}">
                  <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text"> Equipas </span>
                </a>
              </li>
              <li class="hidden_admin_icons">
                <a href="{% url 'gerirEquipaProcesso' %}">
                  <i class="fa fa-bars-progress fa-2x"></i>
                  <span class="nav-text"> Atribuição de Processos </span>
                </a>
              </li>
              <li class="hidden_admin_icons">
                <a href="{% url 'criarSkills' %}">
                  <i class="fa fa-plus fa-2x"></i>
                  <span class="nav-text"> Skills </span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="{% url 'statistics' %}">
              <i class="fa fa-chart-simple fa-2x"></i>
              <span class="nav-text"> Painel Estatistico </span>
            </a>
          </li>
          <li>
            <a href="{% url 'process_listing' %}">
              <i class="fa fa-list fa-2x"></i>
              <span class="nav-text"> Lista de Processos </span>
            </a>
          </li>
          <li>
            <a href="{% url 'businessExceptions' %}">
              <i class="fa fa-wrench fa-2x"></i>
              <span class="nav-text"> Plataforma Operativa </span>
            </a>
          </li>
        </ul>
    </nav>
    <div class="shadow"></div>
</body>

