<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentication/login.css' %}"/>

{% endblock style %}



{% block main %}

<div class="background">
    <div class="loginBackground">
        <img class="logo" src="{% static 'images/logo.png' %}">

        <h3 id="form-title">Recuperar Palavra-passe</h3>

        <p class="messageInvalidLogin">
            {% if message %}
                {{ message }}
            {% endif %}
        </p>

        <form action="{% url 'recuperarPassword' %}" method="post">
            {% csrf_token %}
            <div class="input-container">
                <input type="email" name="email" id="input-email" required="">
                <label for="input-email" class="label">Email</label>
                <div class="underline"></div>
            </div>
            
            <input type="submit" value="Continuar" class="btnSubmit">
            
        </form>
    </div>
</div>

{% endblock %}